<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Flowchart Sample Profile"
            iconpath="icons/sample.gif"
            name="Flowchart"
            path="pathmap://resources/flowchartSimple/flowchart.profile.uml"
            provider="University of York">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://resources/flowchartSimple/"
            target="platform:/plugin/flowchartSimpleProfile/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="flowchartSimple.palette"
            class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
            name="Flowchart Elements"
            path="palette2.xml">
         <Priority
               name="Medium">
         </Priority>
         <editor></editor>
      </paletteDefinition>
   </extension>

</plugin>
