<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
    <profile description="simpleFlowchart Profile" name="simpleFlowchart Profile" path="pathmap://resources/simpleFlowchart/model.profile.uml" provider="Epsilon"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.uri_mapping">
    <mapping source="pathmap://resources/simpleFlowchart/" target="platform:/plugin/simpleFlowchart/"/>
  </extension>
  <extension point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
    <paletteDefinition ID="simpleFlowchart.palette" class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider" name="simpleFlowchart Diagram Elements" path="palette.xml">
      <Priority name="Medium"/>
    </paletteDefinition>
  </extension>
</plugin>
