<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
    <profile description="simpleFlowchart Profile" name="simpleFlowchart Profile" path="pathmap://resources/simpleFlowchart/model.profile.uml" provider="Epsilon"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.uri_mapping">
    <mapping source="pathmap://resources/simpleFlowchart/" target="platform:/plugin/simpleFlowchart/"/>
  </extension>
  <extension point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
    <contribution file="resources/simpleFlowchartdiagrams.configuration" original="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/builtin/default.configuration"/>
  </extension>
  <extension point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
    <elementTypeSet clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext" path="resources/diagramshapes.elementtypesconfigurations"/>
  </extension>
</plugin>
