<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ecore"
            id="newautogenofproject.contribution1">
         <menu
               icon="icons/epsilon_icon.gif"
               id="newautogenofproject.menu1"
               label="Papyrus Profiles"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate Papyrus Profile project"
               class="newautogenofproject.popup.actions.CreatePapyrusProjectAction"
               menubarPath="newautogenofproject.menu1/group1"
               enablesFor="1"
               id="newautogenofproject.createPapyrusProjectAction">
         </action>
      </objectContribution>
   </extension>
</plugin>
